<ion-menu contentId="main-content">
  <ion-header>
    <div class="user-content ion-padding">
      <div class="content-avatar">
        <img src="assets/images/avatar.jpeg" alt="">
      </div>
      <div class="content-info">
        <h2>Leonardo Santos</h2>
        <p>Nível Roxo</p>
      </div>
    </div>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="menu-list">
      <ul>
        <li><ion-icon name="home-sharp"></ion-icon> MENU</li>
        <li><ion-icon name="person-sharp"></ion-icon> PERFIL</li>
        <li><ion-icon name="accessibility-sharp"></ion-icon> MEU CORPO</li>
        <li><ion-icon name="trophy-sharp"></ion-icon> CONQUISTAS</li>
        <li><ion-icon name="notifications"></ion-icon> NOTIFICAÇÕES</li>
        <li><ion-icon name="settings-sharp"></ion-icon> CONFIGURAÇÕES</li>
        <li><a (click)="logout()"><ion-icon name="log-out-sharp"></ion-icon> SAIR</a></li>
      </ul>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img src="assets/images/logo.png" alt="">
      </ion-title>
      <div class="notifications" slot="end">
        <div class="notifications-rounded">
          <span class="pin"></span>
          <ion-icon name="notifications"></ion-icon>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
</div>