<div class="user">
  <div class="ion-padding">
    <div class="user-content">
      <div class="content-avatar" slot="start">
        <img src="assets/images/avatar.jpeg" alt="">
      </div>
      <div class="content-info">
        <h2>Leonardo Santos</h2>
        <p>Nível Roxo</p>
      </div>
    </div>
    <div class="metric">
      <div class="metric-content">
        <div class="content">
          <app-metric position="left" text="MEU CORPO" icon="accessibility"></app-metric>
          <app-metric position="right" text="OBJETIVOS E CONQUISTAS" icon="trophy"></app-metric>
        </div>
    </div>
  </div>
</div>

